a {
    text-decoration: none;
}

ul li{
    list-style: none;
}
header {
    height: 150px;
    background-color: black;
    text-align: center;
}

header a img {
    margin-top: 50px;
    height: 50%;
}

nav {
    display: flex;
    justify-content: space-around;
    justify-items: center;
    margin-top: -50px;
}

nav a {
   text-decoration: none;
   color: yellow;
   font-size: 27px;
   font-family: 'Rubik', sans-serif;
}

#main-section {
    background-image: url(../images/background\ image.png);
    background-size:cover;
}

footer {
    height: 170px;
    background-color: black;
}
p {
    color: white;
    font-family: 'Rubik', sans-serif;
}