a {
    text-decoration: none;
}

ul li {
    list-style: none;
}
header {
    height: 150px;
    background-color: black;
    text-align: center;
}

header a img {
    margin-top: 50px;
    height: 50%;
   
}

#main-section {
    background-image: url(../images/background\ image.png);
    height: 100vh;
    background-size:cover;
}

footer {
    height: 170px;
    background-color: black;
}
p {
    color: white;
}